:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.tiles .tile {

}
.tile, .tile-selected, .surface-land, .surface-sea {
  display: inline-block;
  border: 1px solid silver;
  height: 5em;
  width: 5em;
  padding: 0.1em;
  text-align: center;
  vertical-align: middle;
}

.tile-selected {
  border: 2px solid black;
}

.surface-land {
  background-color: LightGreen;
}
.surface-sea {
  background-color: LightBlue;
}

.buttonbar {
  margin: 1em;
}