<h2>World {{this.year}}</h2>

<table>
  <tbody>
    <tr *ngFor="let row of grid">
      <td *ngFor="let tile of row"
          [ngClass]="setCssClasses(tile)"
          (click)="onSelectTileClick(tile)">
        {{tile.toString()}}
      </td>
    </tr>
  </tbody>
</table>

<nav class="buttonbar">
  <button (click)="onUpClick()">move up</button>
  <button (click)="onRightClick()">move right</button>
  <button (click)="onDownClick()">move down</button>
  <button (click)="onLeftClick()">move left</button>
</nav>

<nav class="buttonbar" *ngIf="toggleContextMenu">
  <button (click)="onBuildRoadClick()">build road</button>
  <button (click)="onBuildCityClick()">build city</button>
</nav>
