<h2>World in year {{game.year}}</h2>

<table id="board-table">
  <tbody>
    <tr *ngFor="let row of grid">
      <td *ngFor="let tile of row"
          [ngClass]="setCssClasses(tile)"
          (click)="onSelectTileClick(tile)"
          attr.data-coord="{{tile.coord}}">
        <!-- // TODO hide image when function returns no path -->
        <img [attr.src]="getTileImagePath(tile)" alt="tile" />
      </td>
    </tr>
  </tbody>
</table>

<nav class="buttonbar">
  <button (click)="onEndTurnClick()">end turn</button>
</nav>

<nav class="buttonbar">
  <button (click)="onLeftClick()">move left</button>
  <button (click)="onUpClick()">move up</button>
  <button (click)="onDownClick()">move down</button>
  <button (click)="onRightClick()">move right</button>
  <button (click)="onSettleUnitInCityClick()" [ngClass]="setSettleCss()">Settle in City</button>
</nav>

<nav class="buttonbar" [ngClass]="setSettlerContextMenuCss()">
  <button (click)="onBuildRoadClick()">build road</button>
  <button (click)="onBuildCityClick()">build city</button>
</nav>

<section *ngIf="selectedCity" id="cityscreen">
  <h2>{{selectedCity.name}} screen</h2>
  <div><label>size: </label>{{selectedCity.size}}</div>
  <h3>Resources</h3>
  <h3>Now producing unit or building</h3>
  <h3>Units</h3>
  <li *ngFor="let unit of selectedCity.units">
    {{unit}} <button>ungarrison</button>
  </li>
  <h3>Buildings</h3>
  <button (click)="closeCityscreen()">close</button>
</section>