:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.tiles .tile {

}
.tile, .tile-selected, .surface-land, .surface-sea {
  display: inline-block;
  border: 0;
  height: 60px;
  width: 60px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.tile-selected {
  border: 1px solid black;
}

.surface-land {
  background: LightGreen url("../../assets/tile-grass.png");
}
.surface-sea {
  background-color: #9ca6d9;
}

.buttonbar {
  margin: 1em;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 2s step-start 0s infinite;
  -webkit-animation: blink 2s step-start 0s infinite;
}

.hidden {
  display: none;
}